@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');

:root{
    --fonte1: 'Kdam Thmor Pro', sans-serif;
    --fonte2: 'Roboto Mono', monospace;

}

*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte2);
    font-weight: bolder;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte1);
}

header > h1{
    padding-top: 50px;
    font-variant:small-caps;
    font-size: 7.5vh;
  /*esse smal-caps que foi usado, deixa todas as letras maisculas porem deixa elas menores com as primeiras maiores, gostei desse jeito, se quisermos so deixar tudo maisculo e so usar o text-transform e uppercase*/
}

header > p{
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vh;
}

.normal{
    background-color: white;
    color: black;

}
.imagem{
    background-color: gray;
    color: white;
}

.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.626);
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}